################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/smartCampus/config
/bin
/obj
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/.vs/smartCampus/FileContentIndex
/.vs/smartCampus/CopilotIndices/17.14.1347.20289
/.vs/smartCampus/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
